html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    /*margin-bottom: 60px;*/
    background-color: #71a5de; /* Light blue shade */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    text-align: center;
    padding-top: 50px;
}

h1 {
    color: #2a52be; /* Moderate blue for headings */
}

p {
    font-size: 1.2em;
}

#note {
    position: absolute;
    font-size: 2em;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}

#greeting {
    margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff8e7; /* warm golden tone */
}
