@page  
@model IndexModel  

<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="utf-8" />  
    <title>Welcome to My Music Site</title>  
    <link rel="stylesheet" href="/css/site.css" />  
</head>  
<body style="text-align: center; padding-top: 50px;"> 
    
    <h1>🎵 One of My Favourite Songs</h1>  
    <div id="greeting"></div>
    <p>Enjoy the vibes:</p>  
    <iframe width="560" height="315"  
            src="https://www.youtube.com/embed/r5pVt1K4NRg"  
            title="YouTube video player"  
            frameborder="0"  
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"  
            allowfullscreen>  
    </iframe>
    <div id="note">🎵</div>
    <script src="/js/site.js"></script>
</body>  
</html>
